.home-body {
  box-sizing: border-box;
  margin: 0;
  background-image: url("./Assets/BMI background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header {
  margin: auto;
  min-height: 10vh;
  background-color: white;
  box-shadow: 2px 4px 4px rgba(140, 140, 140, 0.596);
  position: fixed;
  width: 100%;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  min-height: 10vh;
}
.Logo {
  flex: 1;
}

.Logo img {
  width: 10rem;
  height: 3.5rem;
  margin: 0.5rem 0rem;
}
.Header-Logo img:hover {
  cursor: pointer;
}

.nav-links {
  flex: 1;
}

nav {
  display: flex;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: larger;
  transition: all 0.3s ease;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav a:hover {
  color: red;
}

span {
  color: red;
}

.main-container {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px -4px 4px rgba(171, 171, 171, 0.5);
}

.footer-content {
  flex: 2;
  margin-left: 8rem;
}

button {
  background-color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px grey;
  border: 2px solid white;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 20%;
  margin: auto;
}
button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
}
button:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}

.footerlogo {
  margin-left: 4rem;
}

.Content {
  width: 80%;
  margin-top: 5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Content h2 {
  color: red;
  text-align: center;
  font-size: 1.8rem;
}
.Content h3 {
  text-decoration: underline;
  font-size: 1.2rem;
}

.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.text p {
  text-align: justify;
  font-size: 1rem;
}
.text {
  float: left;
}

.right1 {
  float: right;
}

.right2 {
  background-color: rgba(48, 255, 255, 0.571);
  width: fit-content;
  padding: 1rem;
  border-radius: 10%;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 320px) {
  body {
    font-size: 60%;
  }
  .empty {
    display: none;
  }
  button {
    padding: 0.5rem;
  }
  button a {
    font-size: 0.8rem;
  }

  .footerlogo img {
    width: 5rem;
    height: 2.5rem;
  }
  .footer {
    margin-left: 0;
  }

  .header-div {
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-content {
    flex: 2;
  }

  nav a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 70%;
  }

  .empty {
    display: none;
  }

  button {
    padding: 0.5rem;
  }

  button a {
    font-size: 0.8rem;
  }

  .footerlogo img {
    width: 5rem;
    height: 2.5rem;
  }

  .footer {
    margin-left: 0;
  }
  .footerlogo {
    margin-left: 1rem;
  }

  .header-div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  nav {
    align-items: center;
  }

  nav a {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  .Logo img {
    width: 5.5rem;
    height: 2rem;
    margin: 0.5rem 0;
    margin-left: 6rem;
  }

  .footerlogo img {
    margin-left: 0rem;
  }

  .img-div img {
    width: 5rem;
    height: 5rem;
  }
}
